/* ==================== GLOBAL ==================== */
* {
    box-sizing: border-box;
}

body,
html {
    font-family: "Nunito", sans-serif;
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

nav ul li a:before {
    transition: all 0.5s;
}

.btn {
    cursor: pointer;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

a {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
/* ==================== HEADER ==================== */

header.main-header {
    background-color: white;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.navbar {
    padding: 0;
}

.navbar .navbar-brand {
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: #dc4f72;
    letter-spacing: -1px;
}

.navbar .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}

.navbar .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: #2c3038;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #dc4f72;
}

a.nav-link:before,
a.dropdown-item:before {
    position: absolute;
    content: "";
    background: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 13px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
    width: 20px;
}

.navbar-expand-lg .navbar-nav .nav-item.dropdown {
    padding-right: 20px;
}

.search-right {
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto 1fr;
}

a.search-search span.fa {
    color: #5a5a5a;
    font-size: 15px;
    opacity: 0.7;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: #f7f9fc;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #eee;
}

.fa-search:before {
    content: "";
}

.search-right .pop-overlay {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    background: #000000ba;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

.search-right .pop-overlay.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.search-right .popup {
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 50%;
    max-width: 600px;
}

.search-right .popup form input[type="search"] {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #5a5a5a;
    height: 55px;
    padding: 15px 20px 12px;
    background: white;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
}

.search-right .popup form button {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #f5f9fc;
    font-weight: 500;
    height: 55px;
    border: none;
    background: #dc4f72;
    padding: 0 25px;
    border-left: none;
    border-radius: initial;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.search-right .popup .close {
    position: absolute;
    right: 20px;
    top: -50px;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}

/* Định kiểu cho nút chuyển đổi */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.theme-switch {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #191c1d;
    transition: background-color 0.4s;
}

#checkbox {
    display: none;
}

.fa-solid.fa-sun,
.fa-solid.fa-moon {
    position: absolute;
    font-size: 24px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s;
}

.fa-solid.fa-sun {
    opacity: 1;
}

#checkbox:checked + .theme-switch .fa-solid.fa-sun {
    opacity: 1;
}

#checkbox:checked + .theme-switch .fa-solid.fa-moon {
    opacity: 0;
}

#checkbox:not(:checked) + .theme-switch .fa-solid.fa-sun {
    opacity: 0;
}

#checkbox:not(:checked) + .theme-switch .fa-solid.fa-moon {
    opacity: 1;
}

/* Chế độ tối */
.dark-theme {
    background-color: #131617;
    color: #fff;
}

.dark-theme header {
    background-color: #131617;
}

.dark-theme .navbar .navbar-nav .nav-link {
    color: #fff;
}

.dark-theme .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #dc4f72;
}

.dark-theme a.search-search span.fa {
    color: #b7b7b7;
    background: #191c1d;
    border: #333;
}

.dark-theme .content {
    background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.92)),
        url(../img/banner.jpg);
}

.dark-theme .homepage_hero .content-left p,
.dark-theme .header-section p,
.dark-theme .navbar-expand-lg .navbar-nav .nav-link,
.dark-theme .homepage_about .book-info p,
.dark-theme .homepage_stats .stats_info p:not(.counter) {
    color: #b7b7b7;
}

.dark-theme .homepage_hero .content-left h3,
.dark-theme .header-section h3,
.dark-theme a.search-search:hover span.fa,
.dark-theme .homepage_why .s-block h3,
.dark-theme .homepage_about .book-info h3,
.dark-theme .homepage_stats .stats_info h4,
.dark-theme .homepage_why .s-block p {
    color: #eee;
}

.dark-theme .homepage_why .s-block {
    background: #191c1d;
    border: 1px solid #191c1d;
}

.dark-theme .homepage_why .s-block:hover {
    background: #131617;
    border: 1px solid #333;
}

.dark-theme .homepage_about {
    background: #191c1d;
}

.dark-theme .homepage_stats {
    background: #191c1d;
}

.dark-theme .homepage_stats .stats_info {
    background: #131617;
    border: 1px solid #333;
}

.dark-theme .w3l-faq-block .accordion-button:not(.collapsed),
.dark-theme .w3l-faq-block .accordion-item,
.dark-theme .w3l-faq-block .accordion-button,
.dark-theme .faq-block h1,
.dark-theme .faq-block h3,
.dark-theme .nav-pills .nav-link,
.dark-theme .w3l-footer h3,
.dark-theme .w3l-footer .container .columns__1 a {
    color: white;
}

.dark-theme .w3l-faq-block .accordion-button:not(.collapsed),
.dark-theme .w3l-faq-block .accordion-item,
.dark-theme .w3l-faq-block .accordion-button {
    background-color: #131617;
}

.dark-theme .faq-block .content {
    background: transparent;
}

.dark-theme .faq-block p,
.dark-theme .w3l-footer .columns__1,
.dark-theme .w3l-footer .col__2 .column p {
    color: grey;
}

.dark-theme .testimonials {
    background: linear-gradient(to right, black, rgba(255, 255, 255, 0.77)),
        url(https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/b2.jpg);
}

.dark-theme .w3l-footer .container .col__2 {
    background-color: #131617;
}

.dark-theme .testimonials .item {
    background-color: #191c1d;
}

.dark-theme .w3l-footer,
.dark-theme .w3l-footer .subscribe input[type="email"] {
    background: #181c1d;
}

/* ==================== HomePage Hero Header ==================== */
.homepage_hero {
    margin-top: 90px;
}

.content {
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.92)),
        url(../img/banner.jpg);
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem;
}

.homepage_hero .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: #2c3038;
    font-weight: 700;
}

.homepage_hero .content-left p {
    color: #5a5a5a;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

/* ==================== HomePage Why choose us ==================== */
.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-section h3 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
}

.homepage_why .s-block {
    border-radius: 6px;
    transition: 0.3s ease-in;
    background: #f7f9fc;
    padding: 3rem 2rem;
    border: 1px solid #f7f9fc;
}

.homepage_why .s-block:hover {
    transition: 0.3s ease-in;
    background: white;
    border: 1px solid #f8f9fa;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}

.d-block {
    display: block !important;
}

.homepage_why .s-block h3 {
    color: #2c3038;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.homepage_why .s-block p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

/* ==================== HomePage about ==================== */

.homepage_about {
    background-color: #f7f9fc;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.homepage_about .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: #2c3038;
    font-weight: 700;
}

.homepage_about .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24.4px;
}

img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

img.img-curve:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}

/* ==================== HomePage stats ==================== */
.homepage_stats {
    background-color: #f7f9fc;
}

.homepage_stats .stats_info {
    background-color: white;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    transition: 0.3s ease;
    border: 1px solid #f8f9fa;
}

.homepage_stats .stats_info:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.3s ease;
}

.homepage_stats .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: #2c3038;
    font-weight: 700;
}

.homepage_stats p.counter {
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

/* ==================== HomePage cover ==================== */

.new-block {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.33)
        ),
        url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.homepage_cover .middle-section {
    max-width: 550px;
}

.homepage_cover .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.homepage_cover .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

/* ============ Move top ============ */
#movetop {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 45px;
    background: #dc4f72;
    padding: 0;
    opacity: 0.7;
    transition: 0.3s ease;
}

#movetop:hover {
    opacity: 1;
    transition: 0.3s ease;
}

#movetop .fa-angle-up {
    line-height: 45px;
    color: #fff;
    font-size: 22px;
}

/* project */

.projects h1 {
    color: #2f333f;
    font-size: 46px;
}

.projects h6 {
    color: #cd5574;
    font-size: 16px;
}

.nav-pills .nav-link {
    border-radius: 0px;
    border: none;
}

.nav-pills .nav-link.active {
    background-color: transparent;
}

.projects .nav-link {
    color: #313337;
}

.projects img {
    border-radius: 16px;
}

.projects .my-3 {
    max-width: 750px;
    margin: auto;
}

.projects .content h6,
h1,
h3 {
    font-weight: 700;
}

.project .content h3 {
    font-size: 46px;
}

.projects .nav-item {
    font-weight: 700;
    font-size: 22px;
    /* padding: 15px; */
}

.nav-pills .nav-link {
    border-bottom: 3px solid #bfbfbf;
    padding: 10px 40px;
}

.nav-pills .nav-link.active {
    color: #cd5574;
    border-bottom: 3px solid #cd5574;
}

/* FAQ */
.w3l-faq-block .accordion-button:not(.collapsed) {
    background-color: transparent;
}

.w3l-faq-block .faq-image {
    position: sticky;
    top: 80px;
}

.w3l-faq-block .buttons h2 {
    font-size: 20px;
    line-height: 1;
}

/* .accordion {
    --bs-accordion-active-bg: none;
} */

.accordion-item {
    padding: 15px 30px 15px 30px;
    margin: 0 0 15px 0;
}

.w3l-faq-block .faq-image,
.accordion-item {
    border-radius: 12px;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: none;
    box-shadow: none;
}

.w3l-faq-block .accordion-item p {
    color: #837974;
    font-size: 16px;
    line-height: 24.5px;
    opacity: 1;
    margin-top: 14px;
}

.w3l-faq-block .accordion-item h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
}

.header-section h3 {
    color: #2f333f;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #cd5574;
    margin-bottom: 5px;
}

.w3l-faq-block .my-3 {
    max-width: 750px;
    margin: auto;
}

/* Testimonials */

.testimonials {
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.77)),
        url(https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.owl-carousel img {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border: 3px solid #cb5578;
    margin-right: 40px;
}

.testimonials .item {
    padding: 40px;
    margin: 10px;
    border-radius: 8px;
}

.owl-item p {
    font-size: 18px;
    line-height: 26px;
}

.owl-item .name {
    color: #cb5578;
}

.owl-carousel .item {
    display: flex;
}

.fa-quote-left {
    font-size: 30px;
    opacity: 0.2;
    position: absolute;
    margin-left: -40px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #cb5578;
}

.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    background-color: transparent;
}

/* CTA */
.w3l-index6 .header-section {
    max-width: 750px;
}

.w3l-index6 .btn-primary {
    color: white;
    border: #dc4f72;
    background-color: #dc4f72;
}

.w3l-index6 .my-3 {
    margin: auto;
}

/* footer */
.w3l-footer .d-flex {
    justify-content: space-between;
}

.w3l-index7 .footer {
    display: flex;
}

.w3l-footer .d-flex .columns__1 {
    text-align: start;
}

.w3l-footer .d-flex .columns__2 {
    text-align: end;
}

.w3l-footer .col a {
    text-decoration: none;
}

.w3l-footer .Title {
    font-size: 20px;
    line-height: 25px;
    color: #3d3e42;
    margin-bottom: 30px;
    font-weight: 700;
}

.w3l-footer li a {
    color: #656f7b;
    font-size: 15px;
    line-height: 25px;
}

.w3l-footer h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 700;
}

.w3l-footer .end-column {
    /* padding: 2em; */
    background-color: white;
    box-shadow: #000;
}

.w3l-footer .subscribe button {
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.w3l-footer a:hover {
    color: #dc4f72;
}

.w3l-footer ul {
    padding: 0px;
}

.w3l-footer .subscribe input[type="email"] {
    padding: 12px 20px;
    font-size: 16px;
    color: #656f7b;
    border: none;
    background-color: white;
}

.w3l-footer .w3l-footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: grey;
    margin-bottom: 30px;
    font-weight: 500;
}

.w3l-footer p {
    margin-top: 30px;
}

.w3l-footer ul.social li a {
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.w3l-footer .logo {
    display: flex;
}

.w3l-footer .fab {
    font-size: 26px;
    padding: 10px;
}

.w3l-footer .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 4px;
}

.w3l-footer .container li {
    padding-bottom: 10px;
}

.w3l-footer .container .col__2 {
    padding: 20px;
    border-radius: 4px;
    background-color: white;
}
